* {
    margin: 0;
    padding: 0;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: lightskyblue;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: white;
    margin-bottom: 10px;
  }
  
  p {
    color: steelblue;
    margin-bottom: 10px;
  }
   j
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  a.button {
    background-color: white;
    color: steelblue;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 20px;
    display: inline-block;
  }
  
  a.button:hover {
    background-color: steelblue;
    color: white;
  }