
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: mediumslateblue;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mediumslateblue;
    padding: 15px;
    position: fixed;
    top: 0;    
    width: 100%;    
    z-index: 1000;  
}

.navbar .logo {
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border: none;           
    border-bottom: none;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    padding: 35px 35px;
    text-decoration: none;
    font-size: 25px;
}

.nav-links a:hover {
    background-color: rgb(97, 73, 235);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

.habibi {
    list-style-type: decimal-leading-zero;
    padding: 0;
    margin: 50px 0;
    text-align: center;
    color: white;
    font-size: 75px;
    text-shadow: 2px 5px 5px rgba(62, 3, 200, 0.7);
}

.habibi3 {
    list-style-type: decimal-leading-zero;
    padding: 90px;
    margin: 50px;
    text-align: center;
    color: white;
    font-size: 75px;
    text-shadow: 2px 5px 5px rgba(62, 3, 200, 0.7);
}

.img, .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    text-align: center;
}

.wawa, .wawa2 {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
